@charset "UTF-8";

/*  ESTILO PARA TELA */

*{
    margin: 0;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgb(195, 195, 195);
}

header{
    background-image: linear-gradient(to bottom, burlywood, rgb(135, 112, 82));
    padding: 5px;
}

header h1{
    font-variant: small-caps;
    text-align: center;
    padding-top: 25px;
}

nav{
    background-color: rgb(135, 112, 82);
    padding: 25px;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    display:inline-block;
    margin-right: 55px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    background-color: rgb(132, 116, 95);
}

main article{
    max-width: 800px;
    padding: 25px;
    margin: auto;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.363);
    border-radius: 0 0 5px 5px;
}